#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

a {
    color: #20a8d8;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.btn-pill {
    border-radius: 50em;
}
.top-section {
    margin-top: 10px;
    padding: 10px 20px;
    background: #ebeef8;
    color: #09217f;
}

.middle-section {
    width: 100%;
    overflow: scroll;
}

.strip-legs-option.card {
    min-height: 300px;
    width: 300px;
    margin-right: 5px;
    border:1px solid #3875f1;
}
.strip-legs-option .card-header{
    background: #3875f1;
    color: #fff;
}
.strip-legs-option .card-header-actions{
    display: inline-block;
    float: right;
    margin-right: -.25rem;
}
.strip-legs-option .card-header-actions a {
    color: #fff !important;
}
.strip-legs-option .list-group-item:nth-child(odd){
  background:#cee1f6
}
.strip-legs-option .list-group-item:nth-child(even){
  background:#e1eefc
}